node_modules
lib/es5
lib/es6
coverage
.nyc_output

# we have mac users
.DS_Store

errorlogs
replays
local

# artifacts from compilation
kits/cpp/**/*/main.js
kits/cpp/**/*/main.wasm
kits/cpp/**/*.out
kits/java/**/*.class
__pycache__

# these contain our test bots
tests/bots

server/keys
server/.env