node_modules
lib
coverage
.nyc_output

# we have mac users
.DS_Store

errorlogs
replays
local

# artifacts from compilation
kits/cpp/main.js
kits/cpp/main.wasm

# these contain our test bots
tests/bots

server/keys
server/.env