node_modules
lib/es5
lib/es6
coverage
.nyc_output
kaggle_engine/dist

# we have mac users
.DS_Store

errorlogs
replays
local

# artifacts from compilation
kits/cpp/**/*/main.js
kits/cpp/**/*/main.wasm
kits/cpp/**/*.out
kits/java/**/*.class
kits/csharp/**/obj/*
kits/csharp/**/bin/*
kits/csharp/**/.vs/*
__pycache__
kits/ts/dist

# these contain our test bots
tests/bots

server/keys
server/.env